* { margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: white;
    border-style: solid;
    color: black;
}
.mainpage {
    margin-top: 6em;
    position: absolute;
    width: 71.25rem;        
    height: 36rem;
    padding: 0.25em;
    background:linear-gradient(135deg, #FFF5C3 15%, #e444d7 100%);
    border-radius: 5%;
    border-style: solid;
    border-width: 0.4em;
    box-shadow:0 0 5px #e444d7;
    transition: 0.5s;
    overflow-y: scroll;
}
.mainpage:hover {
    border-color: #70166a;
    box-shadow: 0 0 15px #e444d7;;
}
.newpostcontainer {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between
}
.newface, .newspace {
    position: absolute;
    margin-left: 9.5rem;
    width: 15rem;
    height:30rem;
    border-top: solid;
    border-bottom: solid;
}
.newface {
    transform:translateX(32.5rem);
}
.buttonconatainer {
    width: 25rem;
    height: 20rem;
    border: solid;
    margin-top: 5rem;
    border-width: 0.5em;
    border-radius: 2em;
    border-color: rgb(255, 255, 255);
    transition: 1.5s;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    background:#a18cd1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6;
    transform: translate(-4rem,0rem);
  }
  .buttonconatainer:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:linear-gradient(135deg, #FFF5C3 15%, #e444d7 100%) ;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .buttonconatainer:hover {
    background:linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    border-color: rgb(17, 17, 17);
    border-radius: 2em;
}
  .buttonconatainer:hover, .buttonconatainer:focus, .buttonconatainer:active {
    color: white;
  }
  .buttonconatainer:hover:before, .buttonconatainer:focus:before, .buttonconatainer:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  .buttoncontainerright {
    width: 25.5rem;
  }
.newfacebtn,.newspacebtn {
    position:absolute;
    margin: 0, auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    padding: 22px 22px;
    vertical-align: center;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 5px #631a5d;
    border-radius: 3em;
    border: black;
    border-style: solid;
}
.newfacebtn, .newspacebtn {background-image: linear-gradient(to right, #d3a79f 0%, #665d5c  51%, #74433a  100%)}
.newfacebtn:hover, .newspacebtn:hover {
    background-position: right center; 
    color: rgb(27, 26, 26);
    text-decoration: none;
    border:#631a5d solid;
    border-style: solid;
    cursor: pointer;
    box-shadow: 0 0 15px #e444d7;
    text-shadow:0 0 5px #e444d7;
}
.newfacebtn {
    transform: translate(8.1rem,7.1rem);
}
.newspacebtn {
    transform: translate(6.8rem,7.2rem);
}
.newspacebtn:hover {
    box-shadow: 0 0 15px #FFF5C3;
    text-shadow: 0 0 5px #FFF5C3;
}
.newspacepage, .newfacepage {
    position: absolute;
    margin: 0 auto;
    margin-left: 18.5rem;
}
.newspaceform {
    width: 35rem;
    height: 25rem;
    margin-top: 1em;
    border: solid;
    border-width: 0.70em;
    border-top-width: 0.40em;
    border-radius: 2em;
    background: #868585;
}
.spacepageheader {
    margin-bottom: .3em;
    text-align: center;
}
.inputquery {
    margin-left: 2.3rem;
    margin-top: 2rem;
    width: 28rem;
    height: 15rem;
    background:#e9e7e7;
    color:#666666;
    padding: 1em;
    border-radius: .75em;
    border:3px solid transparent;
    outline: none;
    box-shadow:0 0 15px;
    transition: all 0.2s;
    resize: none;
}
.inputquery:hover {
    cursor: pointer;
    background: #eeeeee;
}
.inputquery:focus {
    cursor: text;
    color: #333333;
    background: white;
    border-color: #333333;
}
.postsubmitbtn {
    position: absolute;
    margin: 0, auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    transition: 0.5s;
    background: #4488d6;
    background-size: 200% auto;
    color: #333333;            
    box-shadow: 0 0 5px #4488d6;
    border-radius: 1.5em;
    border: solid transparent;
    transform: translate(-17.5em,12.2em);
}
.postsubmitbtn:hover {
    cursor: pointer;
    color: #e9e7e7;
    border-color: #333333;
}
.newfaceform {
    width: 35rem;
    height: 27rem;
    margin-top: 1em;
    border: solid;
    border-width: 0.70em;
    border-top-width: 0.40em;
    border-radius: 2em;
    background: #868585;
}
.imagelabel {
    margin-left: 3rem;
}
.imagequery {
    margin-top: 2em;
}
.postspage {
    position: absolute;
    width: 30rem;
    height: 32rem;
    background: rgb(38, 231, 245);
    margin-left: 20.25em;
    margin-top: 1.5em;
    border-radius: 1em;
    border-width: 0.8em;
    border:solid transparent;
    box-shadow: 0 0 0.9em #333333;
    overflow-y: scroll;
}
.userpostheadcontainer {
    margin-top: 1em;
}
.userpostheader, .user-index-header {
    text-align: center;
}
.alluserpostscontainer {
    margin:0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 1em;
}
.postcontainer {
    margin-top: 1rem;
    background: rgb(236, 216, 209);
    width:22rem;
    height:14rem;
    border:solid;
    border-radius: 0.3em;
    overflow-y: scroll;
    transition: 0.6s;
}
.postcontainer:hover {
    background:rgb(235, 199, 187);
    box-shadow: 0 0 10px black;
}
.userthumbnail {
    position: absolute;
    margin-top: 0.3em;
    margin-left: 0.3em;
    max-width: 3em;
    border-radius: 60%;
    border: solid;
    border-width: 0.05em;
}

.postusernamehead {
    position: absolute;
    margin-left: 3.5rem;
    margin-top: 1em;
}
.postimage {
    position: absolute;
    margin-left: 2.5rem;
    margin-top: 2.6em;
    max-width: 14rem;
    max-height: 8rem;
    border: solid;
    border-width: 1px;
}
.postcaption {
    position: absolute;
    max-width: 18rem;
    margin-left: 2.5rem;
    margin-right: 1rem;
    margin-top: 11rem;
    border: solid;
    border-color: rgba(0, 0, 0, 0.137);
    padding: 0.2em 0.5em 0.2em 0.5em;
    width: max-content;
    border-width: 1px;
    border-radius: 0.4em;
}
.textpost {
    max-width: 16.8rem;
    position: absolute;
    margin-left: 1em;
    margin-top: 3em;
    font-size: 1em;
    max-height: 10rem;
    overflow-y: scroll;
}
.postdate {
    position: absolute;
    font-size: 0.25em;
    margin-left: 6rem;
    margin-top:0.5rem
}
.deletebutton {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .5em;
    margin-left: 18.3rem;
    margin-top: 4.65rem;
    padding: 1em 1em;
    text-align: center;
    transition: 0.6s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 3px #333333;
    border-radius: 3em;
    border: black;
    border-style: solid;
}
.deletebutton {background-image: linear-gradient(to right, #f85032 0%, #e73827  51%, #f85032  100%)}
.deletebutton:hover {
    background-position: right center; 
    color: black;
    text-decoration: none;
    border:red;
    border-style: solid;
    cursor: pointer;
    box-shadow: 0 0 10px red;
 }

 .profile-pic-container {
     padding:1.5em;
     flex-wrap: wrap;
     display:flex;
     flex-direction: column;
     align-content: center;
    }

.profile-pic {
    position: relative;
    margin-top: 0.3em;
    margin-left: 0.3em;
    max-width: 10em;
    border-radius: 60%;
    border: solid;
    border-width: 0.05em;
    transition: 0.6s;
    }
.profile-pic:hover {
    box-shadow: 0 0 10px black;
    }

.editlink {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .5rem;
    margin-left: 18.6rem;
    margin-top:1.65rem;
    padding: 10px 10px;
    text-align: center;
    transition: 0.6s;
    text-decoration: none;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 5px rgb(0, 8, 85);
    border-radius: 1em;
    border: black;
    border-style: solid;
}
.editlink {background-image: linear-gradient(to right, #FFAFBD 0%, #ffc3a0  51%, #FFAFBD  100%)}
.editlink:hover {
    background-position: right center; 
    color: black;
    text-decoration: none;
    border:pink;
    border-style: solid;
    cursor: pointer;
    box-shadow: 0 0 10px pink;
 }

 .create-edit-form {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 100%;
     justify-content: center;
     padding-top: 25px;
     
 }

 .form-input {
     align-self: center;
     padding-bottom: 10px;
 }


 .user-posts-container{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     

 }

 .user-posts {
    position: relative;
    z-index: 1; 
    width: 100%;
    height: auto;
 }

 .gallery {
     width:25%;
     height: auto;
 }

 .postlink {
    position: absolute;
    z-index: 1;
    width: 18rem;
    height: 13.5rem;
}
.postlinkremainder {
   position: absolute;
   z-index: 1;
   transform: translate(18rem, 7rem);
   height: 6.5rem;
   width: 3.5rem;
}
.singlepostcontainer {
   margin-left: 15.8rem;
   width: 40rem;
   height: 30rem;
   background: rgb(199, 55, 243);
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: space-evenly;
   box-shadow: 0 0 10px black;
   border-radius: 0.48em;
   border-width: 0.05em;
   transition: 0.4s;
   cursor:default;
}
.singlepostcontainer:hover {
   border-color: transparent;
   box-shadow: 0 0 20px black;
}
.fullpostdate {
   font-size: 0.5em;
   align-self: flex-end;
   margin-right: 1em;
}
.fullpostimage {
    max-width: 36rem;
    max-height: 26rem;
    border-radius: 0.5em;
 }
.fullpostcaption {
   margin-left: 2rem;
   align-self: flex-start;
}
.fullpostthumbnail {
   max-width: 5em;
   transform: translate(10rem,-2rem);
   border: transparent;
   transition: 0.6s;
}
.fullpostthumbnail:hover {
   cursor: pointer;
   box-shadow: 0 0 10px black;
}
.fullpostheader {
   text-align: center;
   margin-top: 0.5em;
   margin-bottom: 0.5em;
}
.fullpostspace {
   transform: translate(-0.2em,-1.5em);
}
.fullpostspacedate {
   transform:translateY(-3em);
}
.editpostcontainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
 }
 .editpostheader {
    margin-top: 1em;
 }
 .postpageuserlink{
    position: absolute;
    z-index: 1;
    width: 5rem;
    height: 3.3rem;
    margin-left: 10.4rem;
    transform:translateY(-1.6em);
    border-radius: 50%;
 }