@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Mochiy+Pop+P+One&display=swap');
.navbar {margin-top: 1em;
    width: auto;
    height: 70px;
    background: rgba(201, 194, 194, 0.5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navbar ul {
    display: flex;
    width: 350px

}
.navbar ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    padding-right: 20px;
}
.navbar ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;   
}
.navbar ul li a .navicon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--basic);
}
.navbar ul li.active a .navicon {
    transform: translateY(-35px);
}
.navbar ul li a .navtext {
    position: absolute;
    color: var(--basic);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navbar ul li.active a .navtext {
    opacity: 1;
    transform: translateY(10px);
}
.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    border-radius: 50%;
    border: 6px solid var(--basic);
    transition: 0.5s;
}
.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -21.5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--basic);
}
.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--basic);
}
.navbar ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}
.navbar ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}
.navbar ul li:nth-child(3).active ~ .indicator  {
    transform: translateX(calc(70px * 2));
}
.navbar ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}
.navbar ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}